/*HTML ELEMENTS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;
    transition: 0.5s;
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: hsla(0, 0%, 100%, .8);
}

*::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #121217;
}

/*######################################################################*/
/*GENERAL CLASSES*/
.block {
    display: block;
}

.none {
    display: none;
}

.d-flex {
    display: flex;
}

.jy-center {
    justify-content: center;
}

.al-center {
    align-items: center;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.re-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.re-scroll::-webkit-scrollbar {
    display: none;
}

/*######################################################################*/
/*LANDINGPAGE*/
.landing-page-section {
    /*height: 150vh;*/
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    /*background: linear-gradient(45deg, #121217 60%, #060311 40%);*/
}

/*######################################################################*/
/*BACKGROUND*/
.gray-background {
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg, #121217 50%, /*rgba(18, 18, 23, 1) 60%, transparent 60.5%*/ transparent 50%);
    z-index: -1;
}

.blue-background {
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg, transparent 50%, #060311 50%);
    z-index: -2;
}

@media screen and (max-width: 1200px) {
    .gray-background {
        background: linear-gradient(45deg, #121217 55%, transparent 45%);
    }

    .blue-background {
        background: linear-gradient(45deg, transparent 55%, #060311 45%);
    }
}

@media screen and (max-width: 720px) {
    .gray-background {
        display: none;
    }

    .blue-background {
        background: #060311;
    }
}

#record_svg {
    animation: record 10s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes record {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.svg-container {
    position: absolute;
    right: 0;
    opacity: 0.7;
    /*border: #95C623 1px solid;*/
    height: 100%;
    width: 50%;
}

.music-svg {
    width: 100%;
    height: 100%;
}

/*@media screen and (max-width: 1450px) {*/
/*    .svg-container {*/
/*        width: 90%;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 1300px) {*/
/*    .music-svg {*/
/*        width: 80%;*/
/*    }*/
/*}*/

@media screen and (max-width: 1200px) {
    .svg-container {
        top: -10%;
        width: 60%;
    }
}

@media screen and (max-width: 720px) {
    .svg-container {
        width: 80%;
        height: 50%;
        top: 60px;
        opacity: 0.5;
        display: flex;
        align-items: center;
        justify-content: right;
    }
}

@media screen and (max-width: 600px) {
    .svg-container {
        top: 30px;
    }
}

@media screen and (max-width: 500px) {
    .svg-container {
        justify-content: center;
        position: relative;
    }

    .blue-background {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 430px) {
    .svg-container {
        width: 100%;
    }
}

/*######################################################################*/
/*WORKINGPAGE*/
.working-section {
    /*border: 1px solid red;*/
    margin-top: -50%;
    height: 100%;
    background: transparent;
    border-top: 1px solid hsla(0, 0%, 100%, .8);
}

/*######################################################################*/
/*HEADER*/
header {
    border-bottom: 1px solid hsla(0, 0%, 100%, .8);
    height: 10%;
    padding: 20px;
}

.header-brand-container {
    width: 200px;
    float: left;
    margin-right: auto;
    cursor: default
}

.header-brand {
    font-size: 30px;
    font-weight: bold;
    /*color: #A379C9;*/
    /*color: #306B34;*/
    /*color: #623CEA;*/
    /*color: #2AFC98;*/
    /*color: #5FAD41;*/
    color: #912F40;
}

.header-brand > * {
    color: inherit;
}

.header-button-container {
    width: 150px;
    /*padding: 5px;*/
    cursor: pointer;
}

.header-button {
    border-radius: 25px;
    background: rgba(0, 166, 237, 0.1);
}

.header-button-text {
    font-weight: bold;
    font-size: 15px;
    /*font-size: 1.0em;*/
    color: #00A6ED;
}

/*######################################################################*/
/*MAIN*/
main {
    height: 90%;
    padding-left: 40px;
}

.main-text-container {
    height: 60%;
    padding: 10px;
}

.main-text-container > div {
    height: 100%;
    width: 100%;
}

.main-text-header {
    font-size: 50px;
    height: 80%;
    display: flex;
    align-items: center;
}

.main-text-header-large {
    font-size: 100px;
    font-weight: bold;
}

.main-text-body {
    font-size: 18px;
    height: 20%;
}

.main-text-body > div {
    width: 400px;
}

.main-control-container {
    height: 40%;
    /*border: 1px solid purple;*/
}

.main-content-container {
    width: 35%;
}

.main-content-container > * {
    height: 75px;
}

.main-join-container {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 10px;
}

.main-join-input-container {
    width: 70%;
    float: left;
    margin-right: auto;
    padding: 10px;
}

.jamlabel-input {
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 30px;
    text-transform: uppercase;
}

.jamlabel-input::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}

.jamlabel-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}

.jamlabel-input::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}

.jamlabel-input:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}

.jamlabel-input::placeholder { /* Recent browsers */
    text-transform: none;
}

.main-join-button-container {
    width: 30%;
    float: left;
    cursor: pointer;
}

.main-join-button {
    background: rgba(255, 149, 10, 0.1);
    border-radius: 15px;
}

.main-join-button-text {
    font-weight: bold;
    font-size: 24px;
    color: #FF950A;
}

.main-button-divider > * {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.main-button-line {
    border: 1px solid hsla(0, 0%, 100%, .8);
    flex-grow: 5;
}

.main-button-or {
    flex-grow: 1;
}

.main-button-or > * {
    font-size: 24px;
}

.main-create-container {
    background: rgba(149, 198, 35, 0.1);
    border-radius: 15px;
    height: 100%;
    width: 75%;
    cursor: pointer;
    padding: 10px;
}

.main-text-create-container {
    color: #95C623;
    font-weight: bold;
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1600px) {
    .main-text-header-large {
        font-size: 75px;
        font-weight: bold;
    }
}

@media screen and (max-width: 1300px) {
    .main-text-header-large {
        font-size: 60px;
    }

    .main-text-header {
        font-size: 40px;
    }
}

@media screen and (max-width: 1200px) {
    .main-content-container {
        width: 50%;
    }

    .main-text-header {
        padding-top: 25px;
    }

    .main-text-header-large {
        font-size: 75px;
    }
}

@media screen and (max-width: 1100px) {
    .main-text-header-large {
        font-size: 65px;
    }
}

@media screen and (max-width: 720px) {
    .main-text-body {
        padding-top: 10px;
        height: auto;
    }

    .main-text-body > div {
        width: 100%;
    }

    .main-content-container {
        width: 75%;
        padding: 10px;
    }

    .main-control-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-text-container {
        padding: 50px 50px 0 50px;
    }

    .main-text-header {
        /*align-items: center;*/
        align-items: end;
        /*justify-content: center;*/
    }

    main {
        padding-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .main-content-container {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .main-content-container {
        width: 100%;
    }

    .main-control-container {
        padding: 0 20px;
    }

    .main-text-container {
        padding: 0 25px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    .main-text-container > div {
        height: inherit;
        width: inherit;
        padding-bottom: 10px;
    }

    .jamlabel-input {
        font-size: 24px;
    }

    .main-join-button-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 430px) {
    .main-text-body {
        font-size: 14px;
    }

    .main-text-header {
        font-size: 30px;
    }

    .main-text-header-large {
        font-size: 50px;
    }
}

@media screen and (max-width: 400px) {

    .main-text-header {
        font-size: 25px;
    }

    .main-text-header-large {
        font-size: 45px;
    }

    .main-control-container {
        padding: 0 10px;
    }

    .jamlabel-input {
        font-size: 18px;
    }

    .main-join-button-text {
        font-size: 16px;
    }

    .main-text-create-container {
        font-size: 14px;
    }
}

/*#arrow_svg {*/
/*    transform: rotateZ(180deg);*/
/*}*/

/*#arrow1 {*/
/*    stroke-dasharray: 150;*/
/*    stroke-dashoffset: 150;*/
/*    animation: arrow 5s infinite alternate-reverse;*/
/*}*/

/*@keyframes arrow {*/
/*    30%, 100% {*/
/*        stroke-dashoffset: 0;*/
/*    }*/
/*}*/
