.button {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-radius: 15px;
}

.button.disabled {
    cursor: default;
}

.button-big {
    font-size: 24px;
    font-weight: bold;
}

.login-button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.button-blue {
    background: rgba(0, 166, 237, 0.1);
    color: #00A6ED;
    border-radius: 20px;
}

.button-blue:hover {
    background: rgba(0, 166, 237, 0.15);
}

.button-blue.disabled {
    background: rgba(0, 166, 237, 0.05);
    color: #005980;
}

.button-orange {
    background: rgba(255, 149, 10, 0.1);
    color: #FF950A;
}

.button-orange:hover {
    background: rgba(255, 149, 10, 0.15);
}

.button-orange.disabled {
    background: rgba(255, 149, 10, 0.05);
    color: #804a03;
}

.button-green {
    background: rgba(149, 198, 35, 0.10);
    color: #95C623;
}

.button-green:hover {
    background: rgba(149, 198, 35, 0.15);
}

.button-green.disabled {
    background: rgba(149, 198, 35, 0.05);
    color: #5c7a15;
}

@media (max-width: 576px), (max-height: 576px) {
    .button-big {
        font-size: 20px !important;
    }

    .button {
        font-size: 14px;
    }
}
