/* ##### Container ##### */

main {
    min-height: calc(100vh - 80px);
    padding-left: 40px;
    padding-bottom: 40px;
    overflow: hidden;
    position: fixed;
}

.main-text-container {
    width: 100%;
    margin: 10px;
    flex-grow: 10;
}

.titel-text {
    flex-grow: 5;
    align-items: center;
}

.subtitle-text {
    flex-grow: 2;
    padding-top: 10px;
}

.main-content-container {
    width: 35%;
}

.main-create-container {
    height: 75px;
    width: 80%;
}

@media (max-width: 1200px) {
    .main-content-container {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .main-content-container {
        width: 65%;
    }
}

@media (max-width: 768px), (max-height: 768px) {
    main {
        height: calc(100% - 70px);
    }

}

@media (max-height: 576px) {
    main {
        overflow: auto;
        position: relative;
    }
}

@media screen and (max-width: 768px) {

    main {
        padding-left: 0;
    }

    .main-text-body {
        padding-top: 10px;
    }

    .titel-text {
        align-items: end;
        flex-grow: 10;
    }


    .main-content-container {
        width: 75%;
        padding: 10px;
    }

    .main-control-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .main-text-container {
        width: 85%;
        margin: 0;
    }

}

@media screen and (max-width: 576px) {
    .main-content-container {
        width: 100%;
        padding: 5% 5% 0 5%;
    }

    .main-text-container {
        width: 85%;
        margin: 0;
    }

    /*.main-create-container {*/
    /*    width: 100%;*/
    /*}*/
}

/* ##### Text ##### */

.main-text-header {
    font-size: 50px;
}

.main-text-header-large {
    font-size: 100px;
    font-weight: bold;
}

.main-text-body {
    font-size: 18px;
}

@media screen and (max-width: 1600px) {
    .main-text-header-large {
        font-size: 75px;
    }
}

@media (max-width: 1200px) {
    .main-text-header-large {
        font-size: 75px;
    }

    .main-text-header {
        font-size: 40px;
    }
}

@media (max-width: 992px) {
    .main-text-header-large {
        font-size: 65px;
    }

    .main-text-header {
        font-size: 40px;
    }
}

@media (max-width: 768px), (max-height: 768px) {
    .main-text-header-large {
        font-size: 65px;
    }

    .main-text-header {
        font-size: 40px;
    }
}

@media (max-width: 576px), (max-height: 576px) {
    .main-text-body {
        font-size: 18px;
    }

    .main-text-header {
        font-size: 40px;
    }

    .main-text-header-large {
        font-size: 65px;
    }
}

@media (max-width: 460px), (max-height: 460px) {
    .main-text-body {
        font-size: 14px;
    }

    .main-text-header {
        font-size: 25px;
    }

    .main-text-header-large {
        font-size: 45px;
    }
}

/* #### Input #### */

.main-join-container {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 10px;
    position: relative;
    height: 75px;
}

.jamlabel-input {
    width: 70%;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px;
    margin-right: auto;
}

.jamlabel-input-error {
    color: #FF950A;
    position: absolute;
    top: 80px;
    left: 15px;
    width: 100%;

}

.main-join-button-container {
    width: 30%;
    height: 100%;
    float: left;
}

@media (max-width: 768px), (max-height: 768px) {
    .jamlabel-input {
        font-size: 30px;
    }

    .main-join-container {
        height: 75px;
    }

    .jamlabel-input-error {
        color: #FF950A;
        position: absolute;
        top: 52px;
        font-size: 12px;
    }
}

@media (max-width: 576px), (max-height: 576px) {
    .jamlabel-input {
        font-size: 24px;
    }
}

@media (max-width: 460px), (max-height: 460px) {
    .jamlabel-input {
        font-size: 20px;
    }
}

/* #### Divider #### */

.main-button-divider {
    width: 50%;
    text-align: center;
    font-size: 24px;
    height: 75px;
}

.main-button-divider > hr {
    border: 1px solid hsla(0, 0%, 100%, .8);
    width: 100%;
    margin: 10px;
}

@media (max-width: 768px), (max-height: 768px) {
    .main-button-divider {
        width: 60%;
    }
}

@media (max-width: 460px), (max-height: 460px) {
    .main-button-divider {
        font-size: 16px;
    }
}

@media screen and (max-height: 576px) {
    .main-join-container {
        height: 50px;
    }

    .main-button-divider {
        height: 50px;
    }

    .main-create-container {
        height: 50px;
    }

    .main-text-header {
        font-size: 30px;
    }

    .main-text-header-large {
        font-size: 55px;
    }

    .main-text-body {
        font-size: 16px;
    }
}

@media screen and (max-height: 460px) {
    .main-text-header {
        font-size: 24px;
    }

    .main-text-header-large {
        font-size: 35px;
    }

    .main-text-body {
        font-size: 14px;
    }
}
